@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Libre+Baskerville&family=PT+Sans&family=Roboto:wght@400;700;1000&display=swap');

* {
    padding:0;
    margin:0;
}

body {
    height: 100%;
    height: 100vh;
    width:90%;
    padding: 60px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    word-spacing: -0.003em; /*！改变字间距*/
  }

/*! 设置header*/

h1 {
    text-transform:uppercase;
    font-size:24px;
    width: 180px;
    margin-bottom:0.3em;
}

a.header {
    color:black;
    text-decoration: none;
    transition: 1s;
}

a.header:hover {
    font-size:30px;
    background-color: black;
    color:white;
}

/*！设置button */ 

button {
    font-family: 'Roboto', sans-serif;
    font-size:16px;
  }

.site-categories button {
    display:block;
    background: transparent;
    border:0;
    margin-bottom: 0.3em;
    padding:0;
}

.site-categories .contact a{
    text-decoration: none;
    color:#a9a9a9;
}

.site-categories .biography a{
    text-decoration: none;
    color: black;
}

.site-categories .notification a{
    text-decoration: none;
    color: #a9a9a9;;
}

.site-categories .notification {
    margin-bottom: 3rem;
}



/* Content */

.photo {
    background-image: url(photo1.jpg);
    background-size: 150px;
    display:inline-block;
    text-align: center;
    width:150px;
    height:150px;
    line-height: 150px;
    margin-bottom: 15px;
}

.photo a {
    color:white;
    text-decoration: none;
}

.photo a:hover {
    font-size:18px;
    border:2px solid yellow;
    background-color: black;
    padding:5px;
    transition: 0.5s;
}


.site-container {
    display:flex;
    flex-direction: column;
    line-height: 1.3;
    gap:1em;
    font-size:14px;
    font-family: 'Libre Baskerville', serif;
}

hr {
    height:2px;
    background-color: #3C485E;
    border:0px;
    width:90%;
}

iframe {
    height:1000px;
    width:100%;
    border:0;
    background-color: white;
}


main {
    margin-top:8px;
    margin-bottom: 8px;
    line-height: 1.8;
    width:90%;
}


.site-container header {
    text-transform: uppercase;
    font-weight: 600;
    color: #3C485E;
}

.sec-leadership ul {
    margin-left:14px;
}

.sec-skill ul {
    margin-left:14px;
}

.sec-skill {
    margin-bottom: 8em;
}

