@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Libre+Baskerville&family=PT+Sans&family=Roboto:wght@400;700;1000&display=swap');

* {
    padding:0;
    margin:0;
}

body {
    height: 100%;
    height: 100vh;
    width:90%;
    padding: 60px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    word-spacing: -0.003em; /*！改变字间距*/
  }

/*! 设置header*/

h1 {
    text-transform:uppercase;
    font-size:24px;
    width: 180px;
    margin-bottom:0.3em;
}

a.header {
    color:black;
    text-decoration: none;
    transition: 1s;
}

a.header:hover {
    font-size:30px;
    background-color: black;
    color:white;
}

/*！设置button */ 

button {
    font-family: 'Roboto', sans-serif;
    font-size:16px;
  }

.site-categories button {
    display:block;
    background: transparent;
    border:0;
    margin-bottom: 0.3em;
    padding:0;
}

.site-categories .contact a{
    text-decoration: none;
    color:black;
}

.site-categories .biography a{
    text-decoration: none;
    color: #a9a9a9;;
}

.site-categories .notification a{
    text-decoration: none;
    color: #a9a9a9;;
}

.site-categories .notification {
    margin-bottom: 3rem;
}

/* Content */

.sec-text {
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}


.message {
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:40%;
    gap:40px 20px;
}

.message textarea {
    grid-column:1/3;
}

.text {
    height:30px;
    border:0;
    border-bottom: 2px solid #a9a9a9;
    padding-left: 3px;
    font-family: 'Roboto', sans-serif;
}

.text::placeholder{
    color: #a9a9a9;
}

.text:focus {
    border-bottom:2px solid black;
    transition: 500ms;
    
}

textarea {
    color:#a9a9a9;
    padding-left:3px;
    border:0;
    border-bottom: 2px solid;
    font-family: 'Roboto', sans-serif;
}

.submit button {
    margin-top: 30px;
    text-transform: uppercase;
    width:455px;
    background-color: transparent;
    border-style: double;
    border-color: black;
    padding:5px;
    font-weight: bold;
}

.submit button:hover {
    background-color: black;
    color:white;
    transition: 500ms;
}

.sec-link {
    margin-top:40px;
}

.sec-link a {
    text-decoration: none;
    padding-right:20px;
}