@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500;1000&family=Libre+Baskerville&family=PT+Sans&family=Roboto:wght@400;700;1000&display=swap');


* {
    padding:0;
    margin:0;
}

body {
    font-size:16px;
    font-family:'Libre Baskerville', serif;
}

/*! 设置header*/

header {
    padding-left:100px;
    padding-right:100px;
    margin-top: 30px;
    margin-bottom:80px;
    background-color: white;
}

.category {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:50px;
    justify-content: center;
}

.category button {
    background-color: transparent;
    width:fit-content;
    border:0;
}

.category a  {
    text-decoration: none;
    color:black;
    font-weight: 500;
    font-size:14px;
    text-transform: uppercase;
    font-family:'Libre Baskerville', serif;
}

.category .name {
    font-weight: 1000;
    color:#1C1253;
}

.category a:hover {
    color: #a9a9a9;
    transition: 300ms;
}

.category .notification {
    color:#a9a9a9;
}


/* Content */

.site-content {
    line-height: 2;
    margin-top: 100px;
    padding-left: 210px;
    padding-right: 210px;
}

/* Footer */

.footer {
    width:100%;
    bottom:0;
    padding:2px 0;
    text-align: center;
    position: fixed;
    background-color: white;
}

.footer a {
    text-decoration: none;
}