@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

a {text-decoration: none;
    color:white;
    font-size: 15px;
    transition: font-size 1s;
    font-weight:400;
    line-height: 2em;}

a:hover {
    text-decoration: underline;
    color:black;
    font-size: 25px;
    color:white;
    background-color: black;
}

body {
    margin:50px auto;
    width:70%;
    background-color:#61BFAD;
  }

h1 {color:white;
    transition: font-size 1s;
    font-family: 'Roboto', sans-serif;
    font-size:40px;}

h1:hover {
    font-size:60px;
}

.superlink {
    font-size: 5px;
}

.superlink:hover {
    font-size:5px;
    background-color: black;
    color:white;
    text-decoration: underline;
}